body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */

  overscroll-behavior-y: contain;
}

label {
  font-family: arial;
  font-size: 30px;
  margin: 15px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  margin: 15px;
  vertical-align: sub;
}

input[type="number"] {
  width: 30px;
  height: 30px;
  margin: 15px;
  vertical-align: super;
}

input[type="color"] {
  width: 50px;
  height: 30px;
  margin: 15px;
  border: none;
  padding: 0;
}

select {
  width: 125px;
  height: 30px;
  vertical-align: top;
  margin-left: -10px;
}

body {
  background-color: white;
}

h1 {
  font-family: arial;
  text-align: center;
}

p {
  text-align: center;
}

#topLeftLink {
  float: left;
  display: inline-block;
}

#topRightLink {
  float: right;
  display: inline-block;
}

.snakeBlock {
  width: 26px;
  height: 26px;
  background-color: #99FF99;
  position: absolute;
  border: 2px solid lightgreen;
  border-radius: 10px;
}

.foodBlock {
  width: 26px;
  height: 26px;
  background-color: lightskyblue;
  position: absolute;
  border-radius: 15px;
  border: 2px solid #91B8C5;
}

/*.foodBlock {
  width: 30px;
  height: 30px;
  background-image: url('https://cdn.glitch.me/61845a2e-50dd-416e-b27c-f6c4d479d0ad%2FBright-Red-Apple.png?v=1633634816743');
  position: absolute;
}*/

.backgroundBox {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 5px solid black;
  position: absolute;
  margin-left: calc(50% - (100% / 2));
  margin-top: 50px;
  border-radius: 10px;
}

.canvasBackgroundBox {
  background-color: transparent;
  border: 5px solid black;
  position: absolute;
  margin-left: calc(50% - (100% / 2));
  margin-top: 50px;
  border-radius: 10px;
}

.optionsBox {
  width: 30vw;
  height: 85vh;
  background-color: white;
  box-shadow: 0 0 10px black;
  position: absolute;
  margin-left: calc(50% - (30vw / 2));
  top: calc(50% - (85vh / 2));
  border-radius: 10px;
}

.dimBox {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000080;
  width: 100%;
  height: 100%;
}

.optionsTab {
  border: 1px solid gray;
  border-bottom: none;
  margin-left: 0;
  background-color: white;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  font-size: 1.5vw;
  padding: 5px 10px 0 10px;
}

.optionsTab:hover {
  background-color: darkgray;
}

.optionsTab:active {
  background-color: gray;
}

.optionsContent {
  background-color: whitesmoke;
  width: calc(100% - 40px);
  height: 60%;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}

.start {
  width: 70%;
  height: 60px;
  margin-left: 15%;
  margin-top: 20px;
  border: none;
  background-color: #309FFF;
  color: white;
  font-size: 30px;
  border-radius: 15px;
}

.start:hover {
  background-color: #2681d1;
}

.start:active {
  background-color: #195991;
}

.countdownNumbers {
  color: #FFFFFFD0;
  font-size: 155px;
  font-family: arial;
  margin-top: calc(50% - (155px / 2));
}

@media only screen and (max-width: 950px) {
  .optionsBox {
    width: 100vw;
    height: 85vh;
    margin-left: calc(50% - (100vw / 2));
    top: calc(50% - (85vh / 2));
  }
  
  .optionsTab {
    font-size: 5vw;
  }
}